body {
    direction: rtl;
}

.container {
    margin: auto;
    width: 50%;
    background-color: aqua;
}

.profile_image {
    width: 250px;
    /*float: right;*/
}

.buttons {
    float: left;
}

button {
    font-size: 30px;
}

.full_name {
    width: 40%;
}

.content {

}
.panel-primary {

}