body {
    font-family: "cursive";
    background-color: beige;
    overflow-y: scroll;

}

.post-container {
    width: 80%;
    margin: auto;
    background-color: white;
    border: solid black 2px;
}

.panel-group {
    width: 73%;
    float: left;
    margin-right: 10px;
}

.suggestions {
    width: 24%;
    float: left;
}

.panel-primary {
    margin: 10px;
}

.ui.cards {
    margin: 10px;
}

.panel-date {
    float: right;

}

.panel-author {
    width: 10%;
    display: inline;
    /*float: left;*/
}

.image {
    width: 100% !important;
    height: 200px !important;
}

a:hover {
    text-decoration: none;
}