#upload_image{
    position: relative;
    top: -40px;
    right: 53px;

}
#body_id{
    font-family:"Weblogma_Yekan Regular";
    background-color:#EEE;
    font-size: 1.1em;
}
#image_div{
    width: auto;
    float: right;
    margin: 20px 0 0 0 ;
}
#group_name_input{
    text-align: right;
    font-family:"Weblogma_Yekan Regular";
}
#group_description_text_area{
    resize: none;

}
#tags_div{
    margin: 0 auto 0 auto;
    width: 50%;
    margin-bottom: 30px;
}
#description_div{
    clear: both;
    width: 50%;
    margin: 0 auto 0 auto;
}
#group_name_div{
/*    width: 55%;*/
/*    float: right;*/
    margin: 130px 10px 0 0;
}
#top_div{
    width: 53%;
    margin: 0 auto 0 auto;
}
#is_public_div{
    width: 50%;
    margin: 0 auto 0 auto;
}
#agreement_div{
    width: 50%;
    margin: 0 auto 0 auto;
}
#submit_button_div{
    width: 20%;
    margin: 50px auto 0 auto;

}
#group_name{
    padding-bottom: 20px;
}
#description_div_text
{
    width : 50%;
    margin: 0 auto 0 auto;
    border: solid 2px gray;
    padding: 10px 10px 10px 10px;
}
#group_tags_text{
    display: inline;
}
#group_post_header{

}
#ui_card_div{
    background-color:beige;
    margin: 10px 50px 10px 10px;
    float: right;
}
#ss{
    resize: none;
    width: 100%;
    margin: 0 auto 0 auto;
}
#like_div{
    margin:  10px 0 10px 0;

}
#submit_comment_button{
    float: left;
}
.group_name.text_group
{
    float: right;
}
.group_image{
    float: right;
}

.post_header_link{
    margin: 0 10px 10px 0;
    color: black;
    width: 70%;
/*    text-align: center;*/
}
.icon_pin{
    position:relative;
    top: -20px;
    text-align: center;
    color:brown;
}

.header_content{
    margin: 0 auto 0 auto;
    width: 50%;
}
.header_content p{
    font-size: 1.2em;
}
.main_content {
    margin: 0 auto 0 auto;
    width : 50%;
    margin-top: 20px;
}
.post_image_div {
    margin : 0 auto 0 auto;
    width : 50%;
    margin-top : 30px ;

}
.post_image{
    width:100%;
}

.date_time{
    width : 50%;
    margin:0 auto 0 auto;
}
.date_time_inner{
    width:50%;
    float: right;

}
.clear{
    clear: both;
}
.place_div {
    width:50%;
    margin:0 auto 0 auto;
}
.attachments {
      width:50%;
    margin:0 auto 0 auto;
}

#tags_div .ui.olive.circular.label {
    border-color: #e0e0e0!important;
}