body {
    font-family: "cursive";
    background-color: beige;
    overflow-y: scroll;

}

.post-container {
    width: 50%;
    margin: auto;
    background-color: white;
    border: solid black 2px;
}

.panel-heading {
    /*text-align: right;*/
}

.panel-body {
    /*text-align: right;*/
}

.panel-date {
    float: right;

}

.panel-author {
    width: 10%;
    display: inline;
    /*float: left;*/
}

#id_context {
    display: block;
    width: 100%;
    resize: none;
    white-space: pre-wrap;

}

#id_title {
    display: block;
    width: 100%;
}

#id_author {
    display: block;
    width: 100%;
}

#post-form {
    margin-bottom: 50px;
}

.btn {
    margin-top: 10px;
}

.btn-create {
    font-size: larger;

}

#btn-collapse {
    margin-bottom: 50px;
    padding-right: 50px;
    padding-left: 50px;
}
a:hover{
    text-decoration: none;
}