#main_div{
	width: 40%;
	margin: 0 auto 0 auto;
	border: solid 3px black;
	padding: 30px 30px 30px 30px;
 
}
#body_id{
	background-color: #adc2eb;
/*    position: absolute;*/
/*    width: 60%;*/
   
}
#header_2{
	margin-top: 40px;
    margin-bottom: 20px;
        
}
#labels {
	font-size: 20px;
}
#image_id{
	width : 20%;
}
#header_tag_page{
	margin-bottom: 20px;
}
.ui.cards>.card{
	margin : 20px;
}
#submit_button{
	margin-top: 40px;
}
.ui.buttons>.select_tag{
	margin-top: 10px;
}
.yellow.ui.button{
	margin-top: 30px;
}
#header_2{
    margin-top: 30px;
}
.ui.buttons .or:before{
    content: 'یا';
}
#forgot_password{
    margin-top: 20px;
    color: darkcyan;

}
#ss{
    text-align: right;
}
input {
    border: solid 4px lightgray;
}