{% extends 'xnote_base/user_super_page.html' %}
{% load static %}

{% block title %}
    <title>Followers</title>
{% endblock %}

{% block add_css_and_js %}
    <link type="text/css" rel="stylesheet" href="{% static 'styles/followers_page.css' %}"/>
{% endblock %}

{% block body %}
    {% for follower in follower_list %}

        <div class="ui cards" id="suggestion{{ forloop.counter }}">
            <div class="card">
                <div class="content">
                    <img class="left floated mini ui image"
                         src="{{ follower.profile_image.url }}">

                    <div class="header">
                        <a href="{% url 'xnote_base:view_page' name=follower.url_name %}">
                            {{ follower.real_name }}
                        </a>
                    </div>

                    <div class="description">
                        {{ follower.description }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
