{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Untitled Document</title>
        <meta charset="UTF-8">
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/semantic.min.css' %}"/>
        <script src="{% static 'javascript/semantic.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/forgot_password.css' %}">
    </head>
    <body dir="rtl" id="body_id">
        <center><h2 id="header_2">بازیابی رمز عبور</h2></center>
        <div id="main_div">
            <form class="ui form" action="" method="">
                <div class="field">
                    <label id="labels">شماره دانشجویی یا ایمیل شریف</label>
                    <input type="text" name="first-name" placeholder="شماره دانشجویی یا ایمیل شریف">
                </div>
                <button type="submit" class="ui button">بررسی</button>
            </form>
            <br/>
            <a href="{% url 'xnote_base:main_page' %}">
                <button>بازگشت</button>
            </a>
        </div>
    </body>
</html>