{% extends 'xnote_base/user_super_page.html' %}
{% load static %}

{% block title %}
    <title>{{ user.get_full_name }}</title>
{% endblock %}

{% block add_css_and_js %}
    <link type="text/css" rel="stylesheet" href="{% static 'styles/new_post.css' %}"/>
    <script src="{% static 'javascript/new_post.js' %}"></script>
{% endblock %}

{% block body %}
    <form action="{% url 'xnote_base:new_post' %}" method="post">
        {% csrf_token %}
        <select name="as">
            <option value="{{ person.url_name }}">{{ person.real_name }}</option>
            {% for group in permission_group_list %}
                <option value="{{ group.url_name }}">{{ group.real_name }}</option>
            {% endfor %}
        </select>
        <select name="is_public">
            <option value="public">Public</option>
            <option value="private">Private</option>
        </select>
        <label for="title">Title: </label>
        <input type="text" name="title" id="title"/>
        <br/>
        <label for="content">Context: </label>
        <textarea rows="10" cols="150" id="context" name="context"></textarea>
        <br/>
        <input type="submit" value="Post"/>
    </form>
{% endblock %}