{% extends 'xnote_base/user_super_page.html' %}
{% load static %}

{% block title %}
    <title>Profile</title>
{% endblock %}

{% block add_css_and_js %}
    <link type="text/css" rel="stylesheet" href="{% static 'styles/profile.css' %}"/>
{% endblock %}

{% block body %}
    <div class="post-container">
        <div class="header">
            <div class="image">
                <img id="img" src="{{ user.person.profile_image.url }}"/>
            </div>
            <div class="name">
                <h1><b>{{ user.get_full_name }}</b></h1>
            </div>
        </div>
        <div class="panel-group">
            {% for post in post_list %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 style="display: inline">{{ post.title }}</h3>
                    </div>
                    <div class="panel-body">
                        {{ post.context }}
                    </div>
                    <div class="panel-footer">
                        <div class="panel-author"> {{ post.author }}</div>
                        <div class="panel-date">{{ post.publish_time }}</div>
                        <br style="clear: both"/>
                    </div>
                </div>
                <br style="clear: both"/>
            {% endfor %}

        </div>
        <br style="clear: both"/>
    </div>
{% endblock %}