{% load static %}
<!DOCTYPE html>
<html>
    <head lang="fa">
        <title>sign-up</title>
        <meta charset='UTF-8'>
        <script src="{% static 'javascript/jquery-1.12.0.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/semantic.min.css' %}"/>
        <script src="{% static 'javascript/semantic.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/signup.css' %}">
        <link rel="shortcut icon" href="{% static 'image/logo.png' %}"/>
    </head>

    <body id="body_id" dir="rtl">
        <center><h2 id="header_2">ثبت نام</h2></center>
        <div id="main_div">
            <form id="main_form" class="ui form" action="{% url 'xnote_base:signup' %}"
                  method="post">
                <div class="field">
                    <label id="labels">نام کاربری :</label>
                    <input type="text" autocomplete="off" style="border: solid 4px lightgray" name="username"
                           placeholder="ایمیل">
                </div>
                <div class="field">
                    <label id="labels">رمز عبور :</label>
                    <input type="password" style="border: solid 4px lightgray" name="password" placeholder="رمز عبور">
                </div>

                <div class="field">
                    <label id="labels">تایید رمز عبور :</label>
                    <input type="password" style="border: solid 4px lightgray" name="confirmpassword"
                           placeholder="تایید رمز عبور">
                </div>
                <div class="field">
                    <label id="labels">شماره دانشجویی یا پرسنلی :</label>
                    <input type="text" style="border: solid 4px lightgray" name="userid"
                           placeholder="شماره دانشجویی یا پرسنلی">
                </div>
                <div class="field">
                    <label id="labels"> دانشگاه :</label>
                    <select name="university">
                        <option value="Sharif_university_of_technology"> شریف</option>
                        <option value="Amirkabir"> امیر کبیر</option>
                        <option value="Tehran"> تهران</option>
                        <option value="Beheshti">شهید بهشتی</option>
                    </select>
                </div>
                <button class="ui button" type="submit">ثبت نام</button>
                <script src="{% static 'javascript/signup_validation.js' %}"></script>
            </form>
        </div>
    </body>
</html>
