<!DOCTYPE html>
<html>
<head>
    <title>profile</title>
    <meta charset="UTF-8">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    
    <link rel="stylesheet" type="text/css" href="static/semantic/semantic.min.css" />
    <script src="static/semantic/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style_2.css">
</head>
<body id="body_id" id ="create_new_group_body" dir="rtl">
     <div id="top_div">
        <div id="image_div">
            <img class="ui small circular image" src="images/group-circled.svg">
        </div>
        <div id="group_name_div" class="ui left icon input">
            <p id="group_name">اسم گروه</p>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class ="header_content"><center><p>این جا باید هدر پست رو بزاریم !</p></center></div>
    
    <div class ="post_image_div"><img class ="post_image" src="images/default-post.jpg"/></div>
    
    <div class ="main_content"><p>این جا باید با متن اصلی داستان شه ... این جا باید با متن اصلی داستان شه ... این جا باید با متن اصلی داستان شه ... این جا باید با متن اصلی داستان شه ... این جا باید با متن اصلی داستان شه ... این جا باید با متن اصلی داستان شه ... این جا باید با متن اصلی داستان شه ... این جا باید با متن اصلی داستان شه ... </p></div>
    
    
            <div class="ui divider"></div>

    <div class ="date_time">
        <div class ="date_time_inner"><p>شروع رویداد : مثلا از ساعت ۲ ۲۹ بهمن</p></div>
           <div class ="date_time_inner"><p>پایان رویداد : تا ساعت ۴ ۲۹ بهمن</p></div>
        
    </div>
    
    <div class ="clear"></div>
  
            <div class="ui divider"></div>
            
        <div class="place_div"><p>مکان رویداد : مکان وقوع این رویداد ... </p></div>
                <div class="ui divider"></div>

        <div class ="attachments">
            <p>ضمیمه ها : </p>
        </div>
    
        <div class="ui divider"></div>
     <div id="tags_div">
         <p id="group_tags_text">تگ های پست : </p>
            <a class="ui red circular label">علمی</a>
            <a class="ui orange circular label">فرهنگی</a>
     </div>
    
    
   
    
    
</body>
</html>