{% load static %}
<html>
    <head lang="en">
        <meta charset="UTF-8">
        {% block title %}
        {% endblock %}

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
        <script src="{% static 'javascript/jquery-1.12.0.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'styles/semantic.min.css' %}"/>
        <script src="{% static 'javascript/semantic.min.js' %}"></script>
        <script src="{% static 'javascript/bootstrap.min.js' %}"></script>

        {% block css_and_js %}
        {% endblock %}
    </head>

    <body>
        <a href="{% url 'xnote_base:main_page' %}">
            <button>Home</button>
        </a>
        <a href="{% url 'xnote_base:signup' %}">
            <button>Sign_up</button>
        </a>
        <br/>

        <form style="display: inline" action="{% url 'xnote_base:login' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="login"/>
        </form>
        <a href="{% url 'xnote_base:forgot' %}">Forgot Password</a>

        {% block body %}
        {% endblock %}
    </body>
</html>