{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% block title %}
    {% endblock %}
    <script src="{% static 'javascript/jquery-1.12.0.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/semantic.min.css' %}"/>
    <script src="{% static 'javascript/semantic.min.js' %}"></script>
    {% block add_css_and_js %}
    {% endblock %}
</head>
<body dir="rtl">
<h1>you are as {{ user.get_full_name }}</h1>
<a href="{% url 'xnote_base:main_page' %}">
    <button>Home</button>
</a>
<a href="{% url 'xnote_base:profile' %}">
    <button>Profile</button>
</a>
<a href="{% url 'xnote_base:followers_page' %}">
    <button>Followers</button>
</a>
<a href="{% url 'xnote_base:following_page' %}">
    <button>Following</button>
</a>
<a href="{% url 'xnote_base:logout' %}">
    <button>Logout</button>
</a>
<br style="clear: both"/>
{% block body %}
{% endblock %}
</body>
</html>